<h1>Listing heads</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Position</th>
    <th>Phone numbers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @heads.each do |head| %>
  <tr>
    <td><%= head.full_name %></td>
    <td><%= head.position %></td>
    <td><% head.phone_numbers.each do |phone_number| %>
          <%= phone_number.number %><br>
        <% end %>
    </td>
    <td><%= link_to 'Show', head %></td>
    <td><%= link_to 'Edit', edit_head_path(head) %></td>
    <td><%= link_to 'Destroy', head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Head', new_head_path %>
