<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @head.full_name %>
</p>

<p>
  <b>Position:</b>
  <%= @head.position %>
</p>

<p>
  <b>Phone number:</b><br>
  <% @head.phone_numbers.each do |phone_number| %>
    <%= phone_number.number %><br>
  <% end %>
</p>
<%= gmaps4rails(@json) if @json %><br>

<%= link_to 'Edit', edit_head_path(@head) %> |
<%= link_to 'Back', heads_path %>
