<span class="label label-success">Название</span><br>
<%= @house.title %><br>
<div class="btn-toolbar">
  <div class="btn-group" data-toggle="buttons-checkbox">
    <button type="button" class="btn btn-info", id="show_description">Описание</button>
    <button type="button" class="btn btn-info", id="show_residential_apartments">Квартиры</button>
    <button type="button" class="btn btn-info", id="show_not_residential_apartments">Коммерческие объекты</button>
  </div>
  <div class="btn-group">
    <a href=<%= house_apartments_path(@house) %> class="btn btn-info btn-small" rel="popover" data-content="Чтобы посмотреть все объекты этого дома нажми меня...!" data-original-title="Подсказка">Все объекты</a>
  </div>
</div>

<div id="description" class="hide">
  <%= render 'show_description' %>
</div>
<br>

<div id="residential_apartments" class="hide">
  <span class="label label-success">Квартиры</span><br>
  <%= render :partial => 'show_apartments',
             :locals => { :apartments => @residential_apartments } %>
</div>
<br>

<div id="not_residential_apartments" class="hide">
  <span class="label label-success">Комерческие объекты</span><br>
  <%= render :partial => 'show_apartments',
             :locals => { :apartments => @not_residential_apartments } %>
</div>
<%= render 'show_gallery' %>
<span class="label label-success">Карта</span>
<%= gmaps("markers" => { "data" => @json },
          "map_options" => { "zoom" => 15,
                             "auto_adjust" => true,
                             "auto_zoom" => false,
                             "language" => 'ru' },) %>
