<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @house.title %>
</p>

<%= link_to 'Description', "#" %>
<%= render 'show_description' %>
<% unless @house.apartments.blank? %>
  <%= link_to 'Apartments', house_apartments_path(@house) %><br>
  <%= render 'show_apartments' %>
<% end %>
<br>
<div class="site_wrap wrap">
  <div id="port">
    <div id="gallery">
    <ul class="thumbs_index index parallax-layer">
      <% @gallery.each do |photo| %>
        <li>
          <a href=<%= "#{photo.image.url}" %>>
            <%= image_tag photo.image.url(:for_gallery) %>
          </a>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
<br>
<%= gmaps("markers" => { "data" => @json },
          "map_options" => { "zoom" => 15,
                             "auto_adjust" => true,
                             "auto_zoom" => false,
                             "language" => 'ru' },) %>
