<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @house.title if @house %>
</p>

<%= link_to 'Description', "#" %>
<%= render 'show_description' %>
<% unless @house.apartments.blank? %>
  <%= link_to 'Apartments', house_apartments_path(@house) %><br>
  <%= render 'show_apartments' %>
<% end %>
<br>
<div id="gallery">
    <ul>
      <% @gallery.each do |photo| %>
        <li>
            <a href=<%= "#{photo.image.url}" %> title=<%= "#{photo.image_file_name}" %>>
                <%= image_tag photo.image.url(:small) %>
            </a>
        </li>
      <% end %>
    </ul>
</div>
<br>
<%= gmaps("markers" => {"data" => @json,
                        "options" => { "picture" => ActionController::Base.helpers.asset_path('kafe.png'),
                                       "width" => 60,
                                       "length" => 60 } },
          "map_options" => {"zoom" => 15,
                            "auto_adjust" => true,
                            "auto_zoom" => false,
                            "language" => 'ru'},) %>
<%= link_to 'Back', houses_path %>
