<%= form_for(@partner) do |f| %>
  <% if @partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
      <% @partner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <%= f.fields_for :phone_numbers do |ff| %>
    <div class="field">
      <%= ff.label :number %><br />
      <%= ff.text_field :number %>
      <% unless ff.object.new_record? %>
       <%= ff.check_box '_destroy' %>
       <%= ff.label '_destroy', 'Remove' %>
    <% end %>
    </div>
  <% end %>
  <%= f.fields_for :location do |fff| %>
    <div class="field">
      <%= fff.label :address %><br />
      <%= fff.text_field :address %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
