<h1>Listing partners</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.title %></td>
    <td><%= partner.description %></td>
    <td><% partner.phone_numbers.each do |phone_number| %>
          <%= phone_number.number %><br>
        <% end %>
    </td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner', new_partner_path %>
