<table class="table">
  <tr>
    <th><%= I18n.t('title') %></th>
    <th><%= I18n.t('news.created_at') %></th>
    <th></th>
    <th></th>
  </tr>

  <% @news.each do |news| %>
    <tr>
      <td><%= link_to news.title, news %></td>
      <td><%= news.created_at.to_s(:ru_datetime) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @news, :window => 3 %>