<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t('title') %>:</b>
  <%= @news.title %>
</p>

<p>
  <b><%= I18n.t('news.content') %>:</b><br>
  <%== News.sanitize_news(@news.content) %>
</p>

<%= link_to I18n.t('back'), :back %>
