<span class="label label-success"><%= I18n.t('developer.heads') %></span><br>
<table class="table table-bordered">
  <tr>
    <th><%= I18n.t('developer.full_name') %></th>
    <th><%= I18n.t('developer.position') %></th>
    <th><%= I18n.t('developer.phone_numbers') %></th>
  </tr>
  <% @heads.each do |head| %>
    <tr>
      <td><%= link_to head.full_name, head %></td>
      <td><%= head.position %></td>
      <td><% head.phone_numbers.each do |phone_number| %>
        <%= phone_number.number %><br>
      <% end %></td>
    </tr>
  <% end %>
</table>