<span class="label label-success"><%= I18n.t('developer.partners') %></span><br>
<table class="table table-bordered">
  <tr>
    <th><%= I18n.t('title') %></th>
    <th><%= I18n.t('description') %></th>
    <th><%= I18n.t('developer.phone_numbers') %></th>
  </tr>
  <% @partners.each do |partner| %>
    <tr>
      <td><%= link_to partner.title, partner %></td>
      <td><%= partner.description %></td>
      <td><% partner.phone_numbers.each do |phone_number| %>
        <%= phone_number.number %><br>
      <% end %></td>
    </tr>
  <% end %>
</table>