<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @phone_number.number %>
</p>

<p>
  <b>Head:</b>
  <%= @phone_number.head.full_name if @phone_number.head %>
</p>

<p>
  <b>Partner:</b>
  <%= @phone_number.partner.title if @phone_number.partner %>
</p>


<%= link_to 'Edit', edit_phone_number_path(@phone_number) %> |
<%= link_to 'Back', phone_numbers_path %>
