<ul class="nav nav-list">
  <li class="nav-header">Меню</li>
  <li>
    <% if user_signed_in? %>
      User: <%= current_user.email %><br>
      Role: <%= current_user.role.name %><br>
      <%= link_to "Выити", destroy_user_session_path, :method => "DELETE" %>
    <% else %>
      <%= link_to "Воити", new_user_session_path %>
      <%= link_to "Регистрация", new_user_registration_path %>
     <% end %>
  </li>
  <li><a href="/"><i class="icon-user"></i>Главная</a></li>
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#"><i class="icon-home"></i>Жилищное строительство</a>
    <ul class="dropdown-menu">
      <li class="active"><a href="#"><i class="icon-home"></i>Готовые</a></li>
      <li>
        <%= render "layouts/menu/completed_houses" %>
      </li>
      <li class="active"><a href="#"><i class="icon-wrench"></i>Строятся</a></li>
      <li>
        <%= render "layouts/menu/uncompleted_houses" %>
      </li>
    </ul>
  </li>
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#"><i class="icon-home"></i>Комерческие объекты</a>
    <ul class="dropdown-menu">
      <li>
        <%= render "layouts/menu/not_residential_apartments" %>
      </li>
    </ul>
  </li>
  <li><a href="/pages/developer"><i class="icon-user"></i>Застройщик</a></li>
  <li><a href="/news"><i class="icon-info-sign"></i>Новости</a></li>
  <li><a href="/pages/files"><i class="icon-file"></i>Юридический отдел</a></li>
  <li><a href="/pages/contacts"><i class="icon-envelope"></i>Контактная информация</a></li>
</ul>