<h1>Listing galleries</h1>

<table class="table">
  <tr>
    <th>House</th>
    <th>Apartment</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gallery.each do |photo| %>
  <tr>
    <td><%= photo.house.title if photo.house %></td>
    <td><%= photo.apartment.title if photo.apartment %></td>
    <td><%= image_tag photo.image.url(:small) %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_gallery_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div id="gallery">
    <ul>
      <% @gallery.each do |photo| %>
        <li>
            <a href=<%= "#{photo.image.url}" %> title=<%= "#{photo.image_file_name}" %>>
                <%= image_tag photo.image.url(:small) %>
            </a>
        </li>
      <% end %>
    </ul>
</div>
<br />
<div class="btn">
<%= link_to 'New Gallery', new_gallery_path %>
</div>