<h3><%= link_to @house.title, house_path(@house) %></h3>

<table class="table">
  <tr>
    <th></th>
    <th><%= I18n.t('title') %></th>
    <th><%= I18n.t('description') %></th>
    <th><%= I18n.t('apartments.cost') %></th>
    <th><%= I18n.t('apartments.space') %></th>
    <th><%= I18n.t('apartments.number_of_rooms') %></th>
    <th><%= I18n.t('apartments.residential') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apartments.each do |apartment| %>
  <tr>
    <td><%= image_tag apartment.galleries[0].image.url(:small) if apartment.galleries[0] %></td>
    <td><%= apartment.title %></td>
    <td><%= apartment.description %></td>
    <td><%= apartment.cost %></td>
    <td><%= apartment.space %></td>
    <td><%= apartment.number_of_rooms %></td>
    <td><%= apartment.residential %></td>
    <td><%= link_to I18n.t('apartments.show'), house_apartment_path(@house, apartment) %></td>
  </tr>
<% end %>
</table>

<%= paginate @apartments, :window => 3 %>