<h1>Apartments for <%= link_to @house.title, house_path(@house) %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Space</th>
    <th>Number of rooms</th>
    <th>Residential</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apartments.each do |apartment| %>
  <tr>
    <td><%= apartment.title %></td>
    <td><%= apartment.description %></td>
    <td><%= apartment.cost %></td>
    <td><%= apartment.space %></td>
    <td><%= apartment.number_of_rooms %></td>
    <td><%= apartment.residential %></td>
    <td><%= link_to 'Show', house_apartment_path(@house, apartment) %></td>
    <td><%= link_to 'Edit', edit_house_apartment_path(@house, apartment) %></td>
    <td><%= link_to 'Destroy', house_apartment_path(@house, apartment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Apartment', new_house_apartment_path(@house) %>
