<p id="notice"><%= notice %></p>

<p>
  <b>House:</b>
  <%= @apartment.house.title %>
</p>

<p>
  <b>Title:</b>
  <%= @apartment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @apartment.description %>
</p>

<p>
  <b>Cost:</b>
  <%= @apartment.cost %>
</p>

<p>
  <b>Space:</b>
  <%= @apartment.space %>
</p>

<p>
  <b>Number of rooms:</b>
  <%= @apartment.number_of_rooms %>
</p>

<p>
  <b>Residential:</b>
  <%= @apartment.residential %>
</p>
<br>
<div id="gallery">
    <ul>
      <% @gallery.each do |photo| %>
        <li>
            <a href=<%= "#{photo.image.url}" %> title=<%= "#{photo.image_file_name}" %>>
                <%= image_tag photo.image.url(:small) %>
            </a>
        </li>
      <% end %>
    </ul>
</div>
<br>

<%= link_to 'Edit', edit_house_apartment_path(@house, @apartment) %> |
<%= link_to 'Back', house_apartments_path %>
