<p id="notice"><%= notice %></p>

<p>
  <b>House:</b>
  <%= link_to @apartment.house.title, @apartment.house %>
</p>

<p>
  <b>Title:</b>
  <%= @apartment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @apartment.description %>
</p>

<p>
  <b>Cost:</b>
  <%= @apartment.cost %> $
</p>

<p>
  <b>Space:</b>
  <%= @apartment.space %> m2
</p>

<p>
  <b>Number of rooms:</b>
  <%= @apartment.number_of_rooms %>
</p>

<p>
  <b>Residential:</b>
  <%= @apartment.residential %>
</p>
<br>
<div id="gallery">
    <ul>
      <% @gallery.each do |photo| %>
        <li>
            <a href=<%= "#{photo.image.url(:normal)}" %> title=<%= "#{photo.image_file_name}" %>>
                <%= image_tag photo.image.url(:for_gallery) %>
            </a>
        </li>
      <% end %>
    </ul>
</div>
<br>

<%= link_to 'Back', house_apartments_path %>
