<p id="notice"><%= notice %></p>

<p>
  <b>House:</b>
  <%= link_to @apartment.house.title, @apartment.house %>
</p>

<p>
  <b>Title:</b>
  <%= @apartment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @apartment.description %>
</p>

<p>
  <b>Cost:</b>
  <%= @apartment.cost %> $
</p>

<p>
  <b>Space:</b>
  <%= @apartment.space %> m2
</p>

<p>
  <b>Number of rooms:</b>
  <%= @apartment.number_of_rooms %>
</p>
<br>
<%= render "/houses/show_gallery" %>
<br>

<%= link_to 'Back', :back %>
