<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <title>ResidentialArea</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10">
          <div class="upper_zone">
            <%= render "layouts/zone/upper_zone" %>
          </div>
          <div class="container">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class="span2">
                  <div class="left_zone">
                    <%= render "layouts/zone/left_zone" %>
                  </div>
                </div>
                <div class="span8">
                  <p class="notice"><%= notice %></p>
                  <p class="alert"><%= alert %></p>
                  <div class="content_zone">
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lower_zone">
            <%= render "layouts/zone/lower_zone" %>
          </div>
        </div>
        <div class="span2">
          <div class="right zone">
            <%= render "layouts/zone/right_zone" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%= yield :scripts %>
</html>
